header {
    width: 1440px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: #FFF;
}

main {
    width: 1440px;
    height: 2060px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
}

footer {
    width: 1440px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background: #2E2F42;
}

.main-section-one {
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background: #2E2F42;
}

.main-section-one-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-section-two {
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background: #FFF;#F4F4FD
}

.main-section-three {
    width: 1440px;
    height: 732px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background: #F4F4FD;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}